---
apiVersion: v1
kind: Secret
metadata:
  name: tailscale-operator-secret
  namespace: networking
stringData:
    client_id: "{{ bootstrap_tailscale_client_id }}"
    client_secret: "{{ bootstrap_tailscale_client_secret }}"