---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-vaultwarden-secrets
  namespace: default
stringData:
  DATABASE_URL: postgresql://{{ vault_db_user }}:{{ vault_db_password }}@postgres-lb.storage.svc.cluster.local:5432/vaultwarden
  ADMIN_TOKEN: {{ vault_admin_token }}
