---
apiVersion: v1
kind: Secret
metadata:
  name: qbittorrent
  namespace: media
stringData:
  WIREGUARD_ENDPOINT_IP: "{{ torrent_wg_endpoint_ip }}"
  WIREGUARD_PUBLIC_KEY: "{{ torrent_wg_public_key }}"
  WIREGUARD_PRIVATE_KEY: "{{ torrent_wg_private_key }}"
  WIREGUARD_ADDRESSES: "{{ torrent_wg_adresses }}"
