---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: twingate-backup
  namespace: networking
spec:
  interval: 10m
  chart:
    spec:
      chart: connector
      version: 0.1.31
      sourceRef:
        kind: HelmRepository
        name: twingate
        namespace: flux-system
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      # https://hub.docker.com/r/twingate/connector/tags
      repository: twingate/connector
      tag: 1.76.0
    connector:
      logLevel: "info"
      network: "${TWINGATE_NETWORK}"
      url: "twingate.com"
      accessToken: "${TWINGATE_ACCESS_TOKEN_BACKUP}"
      refreshToken: "${TWINGATE_REFRESH_TOKEN_BACKUP}"
      dnsServer: "${ADGUARD_ADDR_NS1}"
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/instance: twingate