---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-mealie-secrets
  namespace: default
stringData:
  POSTGRES_USER: "{{ mealie_postgres_user }}"
  POSTGRES_PASSWORD: "{{ mealie_postgres_password }}"
  OIDC_CLIENT_SECRET: "{{ mealie_oidc_client_secret }}"
  OPENAI_API_KEY: "{{ mealie_openai_api_key }}"
