---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-ddns-secret
  namespace: networking
type: Opaque
stringData:
  CLOUDFLARE_EMAIL: "{{ bootstrap_cloudflare_email }}"
  CLOUDFLARE_APIKEY: "{{ bootstrap_cloudflare_apikey }}"
  CLOUDFLARE_RECORD_NAME: "ipv4.{{ bootstrap_cloudflare_domain }}"
