---
apiVersion: v1
kind: Secret
metadata:
  name: letibeafrica-secret
  namespace: default
stringData:
  wordpress-password: "{{ letibeafrica_wordpress_password }}"
  mariadb-password: "{{ letibeafrica_mariadb_password }}"
