---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-n8n-secrets
  namespace: default
stringData:
  N8N_ENCRYPTION_KEY: "{{ n8n_encryption_key }}"
  DB_POSTGRESDB_USER: "{{ n8n_db_user }}"
  DB_POSTGRESDB_PASSWORD: "{{ n8n_db_password }}"
