---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Mi
  nfs:
    path: /mnt/volume2/media
    server: ${NFS_SERVER_IP}
  storageClassName: media
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
  storageClassName: media
  volumeMode: Filesystem
