---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-paperless-secrets
  namespace: default
stringData:
  PAPERLESS_ADMIN_USER: {{ paperless_admin_user }}
  PAPERLESS_ADMIN_PASSWORD: {{ paperless_admin_password }}
  PAPERLESS_SECRET_KEY: {{ paperless_secret_key }}
  PAPERLESS_SOCIALACCOUNT_PROVIDERS: {{ paperless_socialaccount_providers }}
  PAPERLESS_DBUSER: {{ paperless_dbuser }}
  PAPERLESS_DBPASS: {{ paperless_dbpass }}
  PAPERLESS_DBSSLMODE: {{ paperless_dbsslmode }}
