---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-gatus-secrets
  namespace: monitoring
stringData:
  INIT_POSTGRES_DBNAME: gatus
  INIT_POSTGRES_HOST: postgres-lb.storage.svc.cluster.local
  INIT_POSTGRES_USER: "{{ gatus_postgres_user }}"
  INIT_POSTGRES_PASS: "{{ gatus_postgres_pass }}"
  INIT_POSTGRES_SUPER_PASS: "{{ postgres_super_pass }}"
