#% if ai_litellm_secrets_enabled | default(false) %#
---
# yaml-language-server: $schema=https://k8s-schemas.home-operations.com/core/secret_v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cluster-litellm-secrets
  namespace: ai
stringData:
  POSTGRES_USER: litellm
  POSTGRES_PASSWORD: {{ litellm_postgres_password | tojson }}
  DATABASE_URL: "postgresql://litellm:{{ litellm_postgres_password | urlencode }}@postgres-lb.storage.svc.cluster.local:5432/litellm"
  LITELLM_MASTER_KEY: {{ litellm_master_key | tojson }}
  LITELLM_OAUTH_CLIENT_SECRET: {{ litellm_oauth_client_secret | tojson }}
  PROXY_ADMIN_ID: {{ litellm_admin_id | tojson }}
  OPENAI_API_KEY: {{ litellm_openai_api_key | tojson }}
#% endif %#
