---
apiVersion: v1
kind: Secret
metadata:
  name: nocodb
  namespace: storage
stringData:
  # Backend
  PORT: "8080"

  # Frontend
  NC_JWT_EXPIRES_IN: "48h"
  NC_PUBLIC_URL: "https://nocodb.{{ bootstrap_cloudflare_domain }}"
  NC_DISABLE_TELE: "true"

  # Cache
  NC_REDIS_URL: "redis://dragonfly.storage.svc.cluster.local:6379/4"

  # Postgres
  INIT_POSTGRES_DBNAME: "{{ nc_postgres_dbname }}"
  INIT_POSTGRES_HOST: "postgres-lb.storage.svc.cluster.local"
  INIT_POSTGRES_USER: "{{ nc_postgres_user }}"
  INIT_POSTGRES_PASS: "{{ nc_postgres_password }}"
  INIT_POSTGRES_SUPER_PASS: "{{ postgres_super_pass }}"

  # Database
  NC_DB: "pg://postgres-lb.storage.svc.cluster.local?u={{ nc_postgres_user }}&p={{ nc_postgres_password }}&d={{ nc_postgres_dbname }}"

  # Authentication
  NC_AUTH_JWT_SECRET: "{{ nc_jwt_secret }}"
  NC_CONNECTION_ENCRYPT_KEY: "{{ nc_connection_encrypt_key }}"
  NC_ADMIN_EMAIL: "{{ bootstrap_cloudflare_email }}"
  NC_ADMIN_PASSWORD: "{{ grafana_admin_password }}"

  # Storage
  NC_S3_ENDPOINT: "{{ nc_s3_endpoint }}"
  NC_S3_BUCKET_NAME: "{{ nc_s3_bucket_name }}"
  NC_S3_ACCESS_KEY: "{{ nc_s3_access_key }}"
  NC_S3_ACCESS_SECRET: "{{ nc_s3_access_secret }}"
  NC_S3_FORCE_PATH_STYLE: "true"

  # Email notification
  NC_SMTP_FROM: "{{ smtp_username }}"
  NC_SMTP_HOST: "smtp-relay.networking.svc.cluster.local"
  NC_SMTP_PORT: "{{ smtp_relay_port }}"
  NC_SMTP_USERNAME: ""
  NC_SMTP_PASSWORD: ""
  NC_SMTP_SECURE: "false"
  NC_SMTP_IGNORE_TLS: "true"
