---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home
  namespace: networking
spec:
  interval: 10m
  chart:
    spec:
      chart: adguard-home
      version: 5.5.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: adguard/adguardhome
      tag: v0.107.54
    service:
      main:
        enabled: true
        ports:
          http:
            port: 3000
            protocol: TCP
      dns-tcp:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/loadBalancerIPs: "${ADGUARD_ADDR_NS1}"
          metallb.universe.tf/ip-allocated-from-pool: default-pool
          metallb.universe.tf/allow-shared-ip: adguard-home-dns
        ports:
          dns-tcp:
            enabled: true
            port: &dns-port 53
            protocol: TCP
            targetPort: *dns-port
      dns-udp:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/loadBalancerIPs: "${ADGUARD_ADDR_NS1}"
          metallb.universe.tf/ip-allocated-from-pool: default-pool
          metallb.universe.tf/allow-shared-ip: adguard-home-dns
        ports:
          dns-udp:
            enabled: true
            port: *dns-port
            protocol: UDP
            targetPort: *dns-port
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: shield-check
          hajimari.io/group: Network
          hajimari.io/appName: adguard
        hosts:
          - host: &host "adguard-home.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: adguard-home-production-tls
    persistence:
      config:
        type: pvc
        enabled: true
        existingClaim: apps-networking-adguard-conf
        mountPath: /opt/adguardhome/conf
      data:
        type: pvc
        enabled: true
        existingClaim: apps-networking-adguard-data
        mountPath: /opt/adguardhome/work