---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hajimari
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    hajimari:
      defaultEnable: false
      showAppGroups: true
      showAppUrls: false
      alwaysTargetBlank: true
      showGlobalBookmarks: true
      namespaceSelector:
        matchNames:
          - default
          - networking
          - monitoring
          - identity
          - kube-system
          - flux-system
          - storage
          - media
          - home-automation
      name: "${SECRET_GRAFANA_ADMIN_USER}"
      lightTheme: blackboard
      darkTheme: horizon
      globalBookmarks:
        - group: Second Brain
          bookmarks:
            - name: Github Repo
              url: "https://github.com/ChristfriedBalizou/homelab"
            - name: Cloudflare
              url: "https://www.cloudflare.com/"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "false"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: hajimari-production-tls
    podAnnotations:
      configmap.reloader.stakater.com/reload: "{{ .Release.Name }}-settings"
    persistence:
      data:
        enabled: true
        type: emptyDir
    resources:
      requests:
        cpu: 100m
        memory: 128M
