---
apiVersion: v1
kind: Secret
metadata:
  name: emqx
  namespace: storage
stringData:
  EMQX_DASHBOARD__DEFAULT_USERNAME: "{{ emqx_dashboard_username }}"
  EMQX_DASHBOARD__DEFAULT_PASSWORD: "{{ emqx_dashboard_password }}"
