---
apiVersion: v1
kind: Secret
metadata:
  name: emqx-secret
  namespace: storage
stringData:
  init-user.json: |
    [{"user_id": "{{ emqx_mqtt_username }}", "password": "{{ emqx_mqtt_password }}", "is_superuser": true}]
