---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: apps-identity
  labels:
    type: local
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Mi
  nfs:
    path: /volume1/apps/identity
    server: ${NFS_SERVER}
  storageClassName: apps-identity

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: apps-identity
  namespace: identity
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
  storageClassName: apps-identity
