#% if ai_open_webui_litellm_secrets_enabled | default(false) %#
---
# yaml-language-server: $schema=https://k8s-schemas.home-operations.com/core/secret_v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cluster-open-webui-litellm-secrets
  namespace: ai
stringData:
  OPENAI_API_KEY: {{ open_webui_litellm_api_key | tojson }}
#% endif %#
