---
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-config
  namespace: storage
stringData:
  config_system.py: |
    OAUTH2_CONFIG = [
        {
            'OAUTH2_NAME': 'pgadmin',
            'OAUTH2_CLIENT_ID': '{{ pg_oauth2_client_id }}',
            'OAUTH2_CLIENT_SECRET': '{{ pg_oauth2_client_secret }}',
            'OAUTH2_API_BASE_URL': 'https://auth.{{ bootstrap_cloudflare_domain }}/',
            'OAUTH2_AUTHORIZATION_URL': 'https://auth.{{ bootstrap_cloudflare_domain }}/api/oidc/authorization',
            'OAUTH2_TOKEN_URL': 'https://auth.{{ bootstrap_cloudflare_domain }}/api/oidc/token',
            'OAUTH2_USERINFO_ENDPOINT': 'api/oidc/userinfo',
            'OAUTH2_SCOPE': '{{ pg_oauth2_scope }}',
            'OAUTH2_ICON': 'fa fa-user',
            'OAUTH2_ENABLED': True,
            'OAUTH2_BUTTON_TEXT': 'Login with OIDC',
            'OAUTH2_AUTO_CREATE_USER': False,
        }
    ]