---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 10m
  chart:
    spec:
      chart: jellyfin
      version: 9.5.3
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
  values:
    image:
      repository: jellyfin/jellyfin
      tag: 10.10.3
    env:
      JELLYFIN_CACHE_DIR: /config/cache
      TZ: ${TIMEZONE}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.home.arpa/enabled: "true"
          hajimari.io/enable: 'true'
          hajimari.io/icon: simple-icons:jellyfin
          hajimari.io/group: Media
        hosts:
          - host: &host "jellyfin.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: jelyfin-production-tls
    podSecurityContext:
      supplementalGroups:
        - 44
        - 109
        - 568
    persistence:
      config:
        enabled: true
        existingClaim: apps-media
        subPath: jellyfin
      media:
        enabled: true
        mountPath: /media
        existingClaim: media
      transcode:
        enabled: true
        type: emptyDir
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: intel.feature.node.kubernetes.io/gpu
                  operator: In
                  values:
                    - "true"
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - k8s-4
    resources:
      requests:
        cpu: 100m
        memory: 8Gi
      limits:
        gpu.intel.com/i915: 1
        memory: 16Gi
