---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-actual-secrets
  namespace: default
stringData:
  GENERIC_TIMEZONE: "{{ bootstrap_timezone  }}"
  ACTUAL_OPENID_CLIENT_ID: "{{ actual_client_id }}"
  ACTUAL_OPENID_CLIENT_SECRET: "{{ actual_client_secret }}"
