---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-actual-secrets
  namespace: default
stringData:
  config.json: |
    {
      "loginMethod": "openid",
      "allowedLoginMethods": ["openid", "password"],
      "openId": {
        "discoveryURL": "https://auth.{{ bootstrap_cloudflare_domain }}/.well-known/openid-configuration",
        "client_id": {{ actual_client_id | tojson }},
        "client_secret": {{ actual_client_secret | tojson }},
        "server_hostname": "https://actual.{{ bootstrap_cloudflare_domain }}",
        "authMethod": "openid"
      },
      "enforceOpenId": false
    }
