---
kubernetes:
  children:
    controllers:
      hosts:
        k8s-3:
          ansible_user: ubuntu
          ansible_host: 192.168.1.122
        k8s-4:
          ansible_user: ubuntu
          ansible_host: 192.168.1.123
        k8s-5:
          ansible_user: ubuntu
          ansible_host: 192.168.1.124
    workers:
      hosts:
        k8s-0:
          ansible_user: pi
          ansible_host: 192.168.1.119
        k8s-1:
          ansible_user: pi
          ansible_host: 192.168.1.120
    raspberrypi:
      hosts:
        pihole:
          ansible_user: pi.hole
          ansible_host: 192.168.1.114
