---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-immich-secrets
  namespace: default
stringData:
  DB_USERNAME: "{{ immich_db_user }}"
  DB_PASSWORD: "{{ immich_db_password }}"
  immich.json: |
    {
      "backup": {
        "database": {
          "enabled": true,
          "cronExpression": "0 02 * * *",
          "keepLastAmount": 14
        }
      },
      "machineLearning": {
        "enabled": true,
        "urls": ["http://immich-machine-learning.default.svc.cluster.local:3003"]
      },
      "oauth": {
        "enabled": true,
        "issuerUrl": "https://auth.{{ bootstrap_cloudflare_domain }}",
        "clientId": "immich",
        "clientSecret": "{{ immich_oidc_client_secret }}",
        "scope": "openid email profile",
        "signingAlgorithm": "RS256",
        "profileSigningAlgorithm": "none",
        "storageLabelClaim": "preferred_username",
        "storageQuotaClaim": "immich_quota",
        "roleClaim": "immich_role",
        "defaultStorageQuota": null,
        "buttonText": "Sign in with Authelia",
        "autoRegister": true,
        "autoLaunch": true,
        "mobileOverrideEnabled": false,
        "mobileRedirectUri": "",
        "tokenEndpointAuthMethod": "client_secret_post",
        "timeout": 30000
      },
      "passwordLogin": {
        "enabled": false
      },
      "server": {
        "externalDomain": "https://immich.{{ bootstrap_cloudflare_domain }}",
        "publicUsers": false
      },
      "trash": {
        "enabled": true,
        "days": 30
      }
    }
