---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zap2xml
  namespace: media
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        type: cronjob
        cronjob:
          schedule: "0 */12 * * *"
          ttlSecondsAfterFinished: 86400
        containers:
          main:
            image:
              repository: shuaiscott/zap2xml
              tag: latest@sha256:ffcb45211ac8f2eeaa7e7b323625d6261ee8e223e0169f082cd2101a9b77317f
            command:
              - "/bin/sh"
              - "-c"
              - "cat /zap2xml.pl | sed 's/tvlistings.zap2it.com/tvschedule.zap2it.com/g' | perl - -u $USERNAME -p $PASSWORD -U -o /config/$XMLTV_FILENAME $OPT_ARGS"
            env:
              USERNAME: ${ZAP_USERNAME}
              PASSWORD: ${ZAP_PASSWORD}
              OPT_ARGS: '-I -D -c /cache'
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 512Mi
    persistence:
      config:
        enabled: true
        existingClaim: apps-media
        globalMounts:
          - subPath: jellyfin

      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        globalMounts:
          - path: /cache