# {{ ansible_managed }}

PIHOLE_INTERFACE=eth0
DNSSEC=true
DNSMASQ_LISTENING=single
QUERY_LOGGING=true
INSTALL_WEB=true
TEMPERATUREUNIT=C
WEBUIBOXEDLAYOUT=traditional
WEBTHEME=high-contrast-dark
API_QUERY_LOG_SHOW=all
API_PRIVACY_MODE=false
REV_SERVER=true
REV_SERVER_DOMAIN={{ bootstrap_cloudflare_domain }}
REV_SERVER_CIDR={{ bootstrap_node_cidr }}
REV_SERVER_TARGET={{ bootstrap_metallb_k8s_gateway_addr }}
IPV4_ADDRESS={{ pihole.ipv4 }}/24
IPV6_ADDRESS={{ pihole.ipv6 }}/64
WEBPASSWORD={{ pihole.webpassword }}
{% for item in pihole.dns %}
  PIHOLE_DNS_{{ loop.index }}={{ item }}
{% endfor %}
