---
apiVersion: v1
kind: Secret
metadata:
  name: zigbee2mqtt-secret
  namespace: home-automation
stringData:
  ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "{{ zigbee2mqtt_config_serial_port }}"
  ZIGBEE2MQTT_CONFIG_MQTT_USER: "{{ emqx_mqtt_username }}"
  ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: "{{ emqx_mqtt_password }}"
