---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre
  namespace: media
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/linuxserver/calibre
              tag: 7.21.0@sha256:759773a89c64ceb77e4ffdbace0bb70c8266b1f58aaaa3937d45b45ac8fab8ae
            env:
              TZ: ${TIMEZONE}
              PUID: ${PUID}
              PGID: ${PGID}
              UMASK_SET: 022
              PASSWORD: ""
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2000Mi
    service:
      main:
        enabled: true
        controller: main
        ports:
          http:
            enabled: true
            port: 8080
      content-server:
        enabled: true
        controller: main
        primary: false
        ports:
          content-server:
            enabled: true
            port: 8081
            protocol: TCP
            targetPort: 8081
        type: ClusterIP
    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: 'true'
          hajimari.io/icon: material-symbols:book-outline
          hajimari.io/group: Media
        hosts:
          - host: "calibre.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - "calibre.${SECRET_DOMAIN}"
            secretName: calibre-production-tls
    persistence:
      config:
        enabled: true
        existingClaim: apps-media
        globalMounts:
          - subPath: calibre
      media:
        enabled: true
        existingClaim: media
        globalMounts:
          - path: /library
            subPath: library
