---
apiVersion: v1
kind: Secret
metadata:
  name: cloudnative-pg
  namespace: storage
  labels:
        cnpg.io/reload: "true"
stringData:
  username: {{ postgres_username }}
  password: {{ postgres_super_pass }}
  aws-region: {{ s3_bucket_region }}
  aws-access-key-id: {{ s3_bucket_access_key }}
  aws-access-key-secret: {{ s3_bucket_secret_key }}
