---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secret
  namespace: storage
stringData:
  MYSQL_ROOT_PASSWORD: "{{ mariadb_root_password }}"
  MYSQL_USER: "{{ mariadb_user }}"
  MYSQL_DATABASE: "{{ mariadb_database }}"
  MYSQL_PASSWORD: "{{ mariadb_password }}"
