---
apiVersion: v1
kind: Secret
metadata:
  name: traktarr-config
  namespace: media
stringData:
  config.json: |
    {
      "core": {
        "debug": false
      },
      "automatic": {
        "movies": {
          "anticipated": 3,
          "boxoffice": 10,
          "interval": 12,
          "popular": 3,
          "trending": 2
        },
        "shows": {
          "interval": 0,
          "anticipated": 0,
          "trending": 0,
          "popular": 0
        }
      },
      "filters": {
        "shows": {
          "disabled_for": [],
          "allowed_countries": [],
          "allowed_languages": [],
          "blacklisted_genres": [],
          "blacklisted_networks": [],
          "blacklisted_min_runtime": 15,
          "blacklisted_max_runtime": 0,
          "blacklisted_min_year": "-1",
          "blacklisted_max_year": "+1",
          "blacklisted_title_keywords": [],
          "blacklisted_tvdb_ids": []
        },
        "movies": {
          "disabled_for": [],
          "allowed_countries": [
            "us",
            "gb"
          ],
          "allowed_languages": [
            "en"
          ],
          "blacklisted_genres": [
            "music",
            "horror"
          ],
          "blacklisted_max_runtime": 0,
          "blacklisted_min_runtime": 60,
          "blacklisted_min_year": "-1",
          "blacklisted_max_year": "+1",
          "blacklisted_title_keywords": [
            "untitled",
            "barbie",
            "ufc"
          ],
          "blacklisted_tmdb_ids": [],
          "rotten_tomatoes": 80
        }
      },
      "notifications": {
        "slack": {
          "service": "slack",
          "webhook_url": "{{ slack_media_webhook }}"
        },
        "verbose": true
      },
      "radarr": {
        "api_key": "{{ radarr_0_api_key }}",
        "minimum_availability": "released",
        "quality": "HD",
        "root_folder": "/media/movies/",
        "url": "http://radarr.media/"
      },
      "sonarr": {
        "api_key": "{{ sonarr_0_api_key }}",
        "language": "English",
        "quality": "WEB 1080p",
        "root_folder": "/media/series/",
        "season_folder": true,
        "tags": [],
        "url": "http://sonarr.media/"
      },
      "omdb": {
        "api_key": "{{ omdb_api_key }}"
      },
      "trakt": {
        "client_id": "{{ trakt_client_id }}",
        "client_secret": "{{ trakt_client_secret }}"
      }
    }
