---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-open-webui-secrets
  namespace: default
stringData:
  OAUTH_CLIENT_SECRET: "{{ open_webui_oauth_client_secret }}"
  WEBUI_SECRET_KEY: "{{ open_webui_secret_key }}"
