---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-grafana-secrets
  namespace: monitoring
stringData:
  INIT_POSTGRES_DBNAME: &dbName grafana
  INIT_POSTGRES_HOST: postgres-lb.storage.svc.cluster.local
  INIT_POSTGRES_USER: &dbUser "{{ grafana_postgres_user }}"
  INIT_POSTGRES_PASS: &dbPass "{{ grafana_postgres_pass }}"
  INIT_POSTGRES_SUPER_PASS: "{{ postgres_super_pass }}"
  GF_DATABASE_NAME: *dbName
  GF_DATABASE_HOST: postgres-lb.storage.svc.cluster.local:5432
  GF_DATABASE_USER: *dbUser
  GF_DATABASE_PASSWORD: *dbPass
  GF_DATABASE_SSL_MODE: disable
  GF_DATABASE_TYPE: postgres
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ grafana_oauth_client_secret }}"
