#% if ai_memini_secrets_enabled | default(false) %#
---
# yaml-language-server: $schema=https://k8s-schemas.home-operations.com/core/secret_v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cluster-memini-secrets
  namespace: ai
stringData:
  MEMINI_API_KEY: {{ memini_api_key | tojson }}
  LITELLM_API_KEY: {{ memini_litellm_api_key | tojson }}
#% endif %#
