---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traktarr
  namespace: media
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        pod:
          annotations:
            secret.reloader.stakater.com/reload: "traktarr-config"
        initContainers:
          copy:
            image:
              repository: busybox
              tag: latest
            command: ["/bin/sh", "-c", "cp /traktarrconfig/config.json /config/config.json"]
        containers:
          main:
            image:
              repository: eafxx/traktarr
              tag: latest@sha256:db064da4ed1e14aebcb57f49174deccb99e73767a6033c491b09348e0ac59474
            env:
              TZ: ${TIMEZONE}
              PUID: ${PUID}
              PGID: ${PGID}
              DELAY: 2.5
              SORT: rating
              NOSEARCH: yes
              NOTIFICATIONS: yes
              BLACKLIST: yes
              RUNNOW: no
              SKIPUPDATE: yes
              APP_BRANCH: master
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
    service:
      main:
        controller: main
        ports:
          http:
            port: 80
            protocol: TCP
    persistence:
      config:
        enabled: true
        existingClaim: apps-media
        globalMounts:
          - subPath: traktarr
      traktarr:
        enabled: true
        type: secret
        name: traktarr-config
        globalMounts:
          - path: /traktarrconfig
