---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: torrent
  namespace: media
spec:
  interval: 10m
  chart:
    spec:
      chart: qbittorrent
      version: 13.5.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
  dependsOn:
    - name: vpn-gateway
      namespace: networking
  values:
    image:
      repository: ghcr.io/k8s-at-home/qbittorrent
      tag: v4.4.3.1
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/appName: "QBittorrent"
          hajimari.io/group: "Media"
          hajimari.io/icon: "arcticons:utorrent"
        hosts:
          - host: &host torrent.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: torrent-production-tls
    persistence:
      config:
        enabled: true
        existingClaim: apps-media
        subPath: qbittorrent
      media:
        enabled: true
        mountPath: /media
        existingClaim: media
    podAnnotations:
      setGateway: "true"
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        memory: 2Gi
    probes:
      liveness:
        enabled: true
      readiness:
        enabled: true
      startup:
        enabled: true
        spec:
          failureThreshold: 30
          periodSeconds: 10