---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  TIMEZONE: "{{ bootstrap_timezone }}"
  KUBE_VIP_ADDR: "{{ bootstrap_kube_vip_addr }}"
  METALLB_LB_RANGE: "{{ bootstrap_metallb_lb_range }}"
  METALLB_K8S_GATEWAY_ADDR: "{{ bootstrap_metallb_k8s_gateway_addr }}"
  METALLB_EXTERNAL_INGRESS_ADDR: "{{ bootstrap_metallb_external_ingress_addr }}"
  METALLB_INTERNAL_INGRESS_ADDR: "{{ bootstrap_metallb_internal_ingress_addr }}"
  ADGUARD_ADDR_NS1: "{{ bootstrap_adguard_addr_ns_1 }}"
  K8S_CLUSTER_CIDR: "{{ bootstrap_cluster_cidr }}"
  K8S_SERVICE_CIDR: "{{ bootstrap_service_cidr }}"
  SERVER_CIDR: "{{ bootstrap_node_cidr }}"
  NFS_SERVER_IP: "{{ nfs_server_ip }}"
