---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: "{{ bootstrap_cloudflare_domain }}"
  SECRET_CLOUDFLARE_EMAIL: "{{ bootstrap_cloudflare_email }}"
  CLOUDFLARE_TUNNEL_ID: "{{ bootstrap_cloudflare_tunnel_id }}"
  SECRET_LDAP_ROOT: "{{ ldap_root }}"
  SECRET_GRAFANA_ADMIN_USER: "{{ grafana_admin_user }}"
  SECRET_GRAFANA_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
  GRAFANA_POSTGRES_USER: "{{ grafana_postgres_user }}"
  GRAFANA_POSTGRES_PASS: "{{ grafana_postgres_pass }}"
  CLUSTER_NAME: {{ cluster_name }}
  S3_ACCESS_KEY: {{ s3_bucket_access_key }}
  S3_SECRET_KEY: {{ s3_bucket_secret_key }}
  GRAFANA_OAUTH_CLIENT_SECRET: "{{ grafana_oauth_client_secret }}"
  VPN_INTERFACE_PRIVATE_KEY: "{{ vpn_interface_private_key }}"
  VPN_INTERFACE_ADDRESS: "{{ vpn_interface_address }}"
  VPN_DNS: "{{ vpn_dns }}"
  VPN_PEER_PUBLIC_KEY: "{{  vpn_peer_public_key }}"
  VPN_PEER_ENDPOINT: "{{ vpn_peer_endpoint }}"
  VPN_COUNTRY: "{{ vpn_country }}"
  VPN_PORT: "{{ vpn_port }}"
  VPN_FORWARDED_PORT_1: "{{ vpn_forwarded_port_1 }}"
  WEAVE_GITOPS_ADMIN_PASSWORD: "{{ bootstrap_weave_gitops_admin_password }}"
  VAULTWARDEN_ADMIN_TOKEN: "{{ vaultwarden_admin_token }}"
  VAULTWARDEN_YUBICO_CLIENT_ID: "{{ vaultwarden_yubico_client_id }}"
  VAULTWARDEN_YUBICO_SECRET_KEY:  "{{ vaultwarden_yubico_secret_key }}"
  SMTP_PORT: "{{ smtp_port }}"
  SMTP_RELAY_PORT: "{{ smtp_relay_port }}"
  SMTP_SERVER: "{{ smtp_server }}"
  SMTP_DOMAIN: "{{ smtp_domain }}"
  SMTP_USERNAME: "{{ smtp_username }}"
  SMTP_PASSWORD: "{{ smtp_password }}"
  SMTP_RELAY_ADDR: "{{ smtp_relay_addr }}"
  POSTGRES_SUPER_PASS: "{{ postgres_super_pass }}"
  POSTGRES_USERNAME: "{{ postgres_username }}"
  POSTGRES_IP: "{{ postgres_ip }}"
  LLDAP_POSTGRES_USER: "{{ lldap_postgres_user }}"
  LLDAP_POSTGRES_PASS: "{{ lldap_postgres_pass }}"
  LLDAP_JWT_SECRET: "{{ lldap_jwt_secret }}"
  LLDAP_LDAP_USER_PASS: "{{ lldap_ldap_user_pass }}"
  LLDAP_USER_DN: "{{ lldap_user_dn }}"
  LLDAP_LDAP_USER: "{{ lldap_ldap_user }}"
  LLDAP_LDAP_USER_EMAIL: "{{ lldap_ldap_user_email }}"
  LLDAP_SERVER_KEY_SEED: "{{ lldap_server_key_seed }}"
  AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ authelia_identity_providers_oidc_hmac_secret }}"
  AUTHELIA_JWT_SECRET: "{{ authelia_jwt_secret }}"
  AUTHELIA_SESSION_SECRET: "{{ authelia_session_secret }}"
  AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ authelia_storage_encryption_key }}"
  AUTHELIA_STORAGE_POSTGRES_DATABASE: "{{ authelia_storage_postgres_database }}"
  AUTHELIA_STORAGE_POSTGRES_USERNAME: "{{ authelia_storage_postgres_username }}"
  AUTHELIA_STORAGE_POSTGRES_PASSWORD: "{{ authelia_storage_postgres_password }}"
  PG_OAUTH2_CLIENT_ID: "{{ pg_oauth2_client_id }}"
  PG_OAUTH2_CLIENT_SECRET: "{{ pg_oauth2_client_secret }}"
  SONARR_API_KEY: "{{ sonarr_0_api_key }}"
  RADARR_API_KEY: "{{ radarr_0_api_key }}"
  READARR_API_KEY: "{{ readarr_0_api_key }}"
  PROWLARR_API_KEY: "{{ prowlarr_0_api_key }}"
  TWINGATE_NETWORK: "{{ twingate_network }}"
  TWINGATE_ACCESS_TOKEN: "{{ twingate_access_token }}"
  TWINGATE_REFRESH_TOKEN: "{{ twingate_refresh_token }}"
  TWINGATE_ACCESS_TOKEN_BACKUP: "{{ twingate_access_token_backup }}"
  TWINGATE_REFRESH_TOKEN_BACKUP: "{{ twingate_refresh_token_backup }}"
  NFS_SERVER: "{{ nfs_server_ip }}"
  PUID: "{{ elevated_puid }}"
  PGID: "{{ elevated_pgid }}"
  PUSER: "{{ elevated_puser }}"
  ZAP_USERNAME: "{{ zap_username }}"
  ZAP_PASSWORD: "{{ zap_password }}"
  EMQX_IP: "{{ emqx_ip }}"
  ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "{{ zigbee2mqtt_config_serial_port }}"
  KROMGO_AUTHELIA_APIKEY: "{{ kromgo_authelia_apikey }}"
  GATUS_AUTHELIA_APIKEY: "{{ gatus_authelia_apikey }}"
  JELLYFIN_IP: "{{ jellyfin_ip }}"
  PAPERLESS_OAUTH_CLIENT_SECRET: {{ paperless_authelia_secrets }}
