---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-vaultwarden-secrets
  namespace: identity
stringData:
  DATABASE_URL: postgresql://{{ vault_db_user }}:{{ vault_db_password }}@postgres-lb.storage.svc.cluster.local:5432/vaultwarden
  ADMIN_TOKEN: {{ vault_admin_token }}
  INIT_POSTGRES_DBNAME: vaultwarden
  INIT_POSTGRES_HOST: postgres-lb.storage.svc.cluster.local
  INIT_POSTGRES_USER: {{ vault_db_user }}
  INIT_POSTGRES_PASS: {{ vault_db_password }}
  INIT_POSTGRES_SUPER_PASS: {{ postgres_super_pass }}
