---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-vaultwarden-secrets
  namespace: identity
stringData:
  DATABASE_URL: postgresql://{{ vault_db_user }}:{{ vault_db_password }}@postgresql.storage.svc.cluster.local:5432/vaultwarden
  ADMIN_TOKEN: {{ vault_admin_token }}
  SMTP_HOST:  smtp-relay.networking.svc.cluster.local
  SMTP_PORT: {{ smtp_relay_port }}
  SMTP_FROM: noreply@{{ bootstrap_cloudflare_domain }}
  SMTP_SECURITY: "off"
  INIT_POSTGRES_DBNAME: vaultwarden
  INIT_POSTGRES_HOST: postgresql.storage.svc.cluster.local
  INIT_POSTGRES_USER: {{ vault_db_user }}
  INIT_POSTGRES_PASS: {{ vault_db_password }}
  INIT_POSTGRES_SUPER_PASS: {{ postgres_super_pass }}
