---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-authelia-secrets
  namespace: identity
stringData:
  OIDC_ISSUER_PRIVATE_KEY_PEM: |
    {{ authelia_identity_providers_oidc_issuer_private_key | indent(4) }}
