---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-authelia-secrets
  namespace: identity
stringData:
  AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY: |+2
    {{ authelia_identity_providers_oidc_issuer_private_key }}
