---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-media-secrets
  namespace: media
stringData:
  SONARR_0_API_KEY: "{{ sonarr_0_api_key }}"
  SONARR_0_POSTGRES_PASSWORD: "{{ sonarr_0_postgres_password }}"
  SONARR_0_POSTGRES_USER: "{{ sonarr_0_postgres_user }}"
  RADARR_0_API_KEY: "{{ radarr_0_api_key }}"
  RADARR_0_POSTGRES_PASSWORD: "{{ radarr_0_postgres_password }}"
  RADARR_0_POSTGRES_USER: "{{ radarr_0_postgres_user }}"
  AUTOBRR_0_API_KEY: "{{ autobrr_0_api_key }}"
  AUTOBRR_0_POSTGRES_PASSWORD: "{{ autobrr_0_postgres_password }}"
  AUTOBRR_0_POSTGRES_USER: "{{ autobrr_0_postgres_user }}"
  PROWLARR_0_API_KEY: "{{ prowlarr_0_api_key }}"
  PROWLARR_0_POSTGRES_PASSWORD: "{{ prowlarr_0_postgres_password }}"
  PROWLARR_0_POSTGRES_USER: "{{ prowlarr_0_postgres_user }}"
  READARR_0_API_KEY: "{{ readarr_0_api_key }}"
  READARR_0_POSTGRES_PASSWORD: "{{ readarr_0_postgres_password }}"
  READARR_0_POSTGRES_USER: "{{ readarr_0_postgres_user }}"
  JELLYSTAT_0_POSTGRES_PASSWORD: "{{ jellystat_0_postgres_password }}"
  JELLYSTAT_0_POSTGRES_USER: "{{ jellystat_0_postgres_user }}"
  JELLYSTAT_0_JWT_SECRET: "{{ jellystat_0_jwt_secret }}"
