---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-open-webui-secrets
  namespace: ai
stringData:
  DATABASE_URL: "postgresql://open_webui:{{ open_webui_postgres_password }}@postgres-lb.storage.svc.cluster.local:5432/open_webui"
  OAUTH_CLIENT_SECRET: "{{ open_webui_oauth_client_secret }}"
  POSTGRES_PASSWORD: "{{ open_webui_postgres_password }}"
  POSTGRES_USER: open_webui
  WEBUI_SECRET_KEY: "{{ open_webui_secret_key }}"
