---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secrets
  namespace: default
stringData:
    INIT_POSTGRES_USER: "{{ nextcloud_db_user }}"
    INIT_POSTGRES_PASS: "{{ nextcloud_db_password }}"

    OIDC_CLIENT_ID: "{{ nextcloud_oidc_client_id }}"
    OIDC_CLIENT_SECRET: "{{ nextcloud_oidc_client_secret }}"

    nextcloud-username: "{{ nextcloud_username }}"
    nextcloud-password: "{{ nextcloud_password }}"

    MINIO_ACCESS_KEY: "{{ minio_access_key }}"
    MINIO_SECRET_KEY: "{{ minio_secret_key }}"