---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secrets
  namespace: default
stringData:
    INIT_POSTGRES_USER: "{{ nextcloud_db_user }}"
    INIT_POSTGRES_PASS: "{{ nextcloud_db_password }}"
    INIT_POSTGRES_HOST: "{{ postgres_host }}"
    INIT_POSTGRES_DBNAME: "{{ nextcloud_db_name }}"
    INIT_POSTGRES_SUPER_PASS: "{{ postgres_super_pass }}"

    OIDC_CLIENT_ID: "{{ nextcloud_oidc_client_id }}"
    OIDC_CLIENT_SECRET: "{{ nextcloud_oidc_client_secret }}"

    nextcloud-username: "{{ nextcloud_username }}"
    nextcloud-password: "{{ nextcloud_password }}"

    smtp-username: "{{ nextcloud_smtp_username }}"
    smtp-password: "{{ nextcloud_smtp_password }}"
    smtp-host: "{{ nextcloud_smtp_host }}"

    MINIO_ACCESS_KEY: "{{ nextcloud_minio_access_key }}"
    MINIO_SECRET_KEY: "{{ nextcloud_minio_secret_key }}"
