#% if ai_openai_secrets_enabled | default(false) %#
---
# yaml-language-server: $schema=https://k8s-schemas.home-operations.com/core/secret_v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cluster-litellm-openai-secrets
  namespace: ai
stringData:
  OPENAI_API_KEY: {{ litellm_openai_api_key | tojson }}
#% endif %#
