---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: thanos
      version: 15.9.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 30m
  values:
    objstoreConfig:
      type: s3
      config:
        insecure: true
        bucket: thanos
        endpoint: minio.storage.svc.cluster.local:9000
        access_key: ${S3_ACCESS_KEY}
        secret_key: ${S3_SECRET_KEY}

    query:
      enabled: true
      dnsDiscovery:
        sidecarsService: kube-prometheus-stack-thanos-discovery
        sidecarsNamespace: monitoring
      stores:
        - minio.storage.svc.cluster.local:9001
      replicaLabel:
        - "__replica__"
      resources:
        requests:
          cpu: 15m
          memory: 64M

    queryFrontend:
      enabled: true
      ingress:
        enabled: true
        annotations:
          external-dns.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/appNname: "Thanos"
          hajimari.io/group: "Monitoring"
          hajimari.io/icon: game-icons:gauntlet
        hostname: &host "thanos.${SECRET_DOMAIN}"
        ingressClassName: "external"
        tls: true
        extraTls:
          - hosts:
              - *host
            secretName: thanos-production-tls

    bucketweb:
      enabled: true
      resources:
        requests:
          cpu: 15m
          memory: 64M

    compactor:
      enabled: true
      extraFlags:
        - --compact.concurrency=4
        - --delete-delay=30m
      retentionResolutionRaw: 14d
      retentionResolution5m: 30d
      retentionResolution1h: 90d
      resources:
        requests:
          cpu: 15m
          memory: 204M
      persistence:
        enabled: true
        storageClass: "local-hostpath"
        size: 15Gi

    storegateway:
      enabled: true
      resources:
        requests:
          cpu: 23m
          memory: 204M
      persistence:
        enabled: true
        storageClass: "local-hostpath"
        size: 1Gi

    ruler:
      enabled: true
      replicaLabel: __replica__
      alertmanagers:
        - http://alertmanager.monitoring.svc.cluster.local:9093
      clusterName: default
      config: |-
        groups:
          - name: "PrometheusWatcher"
            rules:
              - alert: "PrometheusDown"
                expr: absent(up{job="kube-prometheus-stack-prometheus"})
      dnsDiscovery:
        enabled: true
      persistence:
        enabled: true
        storageClass: "local-hostpath"
        size: 512Mi
      resources:
        requests:
          cpu: 23m
          memory: 128M
        limits:
          memory: 256M

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
