---
apiVersion: v1
kind: Secret
metadata:
  name: netbird-secret
  namespace: networking
stringData:
  postgresDSN: "{{ postgres_dsn }}"
  stunServer: "{{ stun_server }}"
  turnServer: "{{ turn_server }}"
  turnServerUser: "{{ turn_server_user }}"
  turnServerPassword: "{{ turn_server_password }}"
  relayPassword: "{{ relay_password }}"
  datastoreEncryptionKey: "{{ datastore_encryption_key }}"
  idpAudience: "{{ idp_audience }}"
  idpClientID: "{{ idp_client_id }}"
  idpClientSecret: "{{ idp_client_secret }}"
  idpServiceAccountUser: "{{ idp_service_account_user }}"
  idpServiceAccountPassword: "{{ idp_service_account_password }}"

  INIT_POSTGRES_USER: "{{ netbird_db_user }}"
  INIT_POSTGRES_PASS: "{{ netbird_db_password }}"
  INIT_POSTGRES_HOST: "{{ postgres_host }}"
  INIT_POSTGRES_DBNAME: "{{ netbird_db_name }}"
  INIT_POSTGRES_SUPER_PASS: "{{ postgres_super_pass }}"
