---
apiVersion: v1
kind: Secret
metadata:
  name: netbird-secret
  namespace: networking
stringData:
  NETBIRD_STORE_ENGINE_POSTGRES_DSN: "{{ postgres_dsn }}"
  STUN_SERVER: "{{ stun_server }}"
  TURN_SERVER: "{{ turn_server }}"
  TURN_SERVER_USER: "{{ turn_server_user }}"
  TURN_SERVER_PASSWORD: "{{ turn_server_password }}"
  RELAY_PASSWORD: "{{ relay_password }}"
  DATASTORE_ENCRYPTION_KEY: "{{ datastore_encryption_key }}"
  IDP_AUDIENCE: "{{ idp_audience }}"
  AUTH_AUDIENCE: "{{ idp_audience }}"
  IDP_CLIENT_ID: "{{ idp_client_id }}"
  IDP_CLIENT_SECRET: "{{ idp_client_secret }}"
  IDP_SERVICE_ACCOUNT_USER: "{{ idp_service_account_user }}"
  IDP_SERVICE_ACCOUNT_PASSWORD: "{{ idp_service_account_password }}"
  AUTH_CLIENT_ID: "{{ idp_client_id }}"
  AUTH_CLIENT_SECRET: "{{ idp_client_secret }}"
  NB_AUTH_SECRET: "{{ relay_password }}"
  INIT_POSTGRES_USER: "{{ netbird_db_user }}"
  INIT_POSTGRES_PASS: "{{ netbird_db_password }}"
  INIT_POSTGRES_HOST: "{{ postgres_host }}"
  INIT_POSTGRES_DBNAME: "{{ netbird_db_name }}"
  INIT_POSTGRES_SUPER_PASS: "{{ postgres_super_pass }}"
