---
# yaml-language-server: $schema=https://k8s-schemas.home-operations.com/core/secret_v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cluster-searxng-secrets
  namespace: default
stringData:
  SEARXNG_SECRET: {{ searxng_secret_key | tojson }}
