---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
  namespace: kyverno
spec:
  interval: 15m
  chart:
    spec:
      chart: kyverno
      version: 3.3.7
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    crds:
      install: true
    config:
      metricsConfig:
        create: false
    grafana:
      enabled: false
    backgroundController:
      enabled: false
    cleanupController:
      serviceMonitor:
        enabled: false
    reportsController:
      serviceMonitor:
        enabled: false
    admissionController:
      replicas: 1
      serviceMonitor:
        enabled: false
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - ingresses
                - pods
              verbs:
                - create
                - update
                - delete
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: kyverno
              app.kubernetes.io/component: kyverno
