---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-forgejo-secrets
  namespace: devtools
stringData:
  key: forgejo
  secret: "{{ forgejo_oidc_client_secret }}"
  ed25519: |-
{{ forgejo_signing_ssh_private_key | indent(4, true) }}
  ed25519.pub: "{{ forgejo_signing_ssh_public_key }}"
  FORGEJO__DATABASE__USER: "{{ forgejo_postgres_user }}"
  FORGEJO__DATABASE__PASSWD: "{{ forgejo_postgres_pass }}"
  FORGEJO__SECURITY__INTERNAL_TOKEN: "{{ forgejo_internal_token }}"
  FORGEJO__SECURITY__SECRET_KEY: "{{ forgejo_secret_key }}"
  FORGEJO__SERVER__LFS_JWT_SECRET: "{{ forgejo_lfs_jwt_secret }}"
  FORGEJO__STORAGE__MINIO_ENDPOINT: "{{ forgejo_minio_endpoint }}"
  FORGEJO__STORAGE__MINIO_BUCKET: "{{ forgejo_minio_bucket }}"
  FORGEJO__STORAGE__MINIO_ACCESS_KEY_ID: "{{ forgejo_minio_access_key }}"
  FORGEJO__STORAGE__MINIO_SECRET_ACCESS_KEY: "{{ forgejo_minio_secret_key }}"
  FORGEJO__STORAGE__MINIO_LOCATION: "{{ forgejo_minio_location }}"
  FORGEJO__STORAGE__MINIO_USE_SSL: "{{ forgejo_minio_use_ssl }}"
  FORGEJO_POSTGRES_USER: "{{ forgejo_postgres_user }}"
  FORGEJO_POSTGRES_PASS: "{{ forgejo_postgres_pass }}"
